.catalog {
  background-color: $color-bg-lightest-grey;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.catalog__title {
  font-size: 16px;
  font-weight: 700;
  color: $color-base-black;
}

.circle {
  border: 2px solid $color-primary-lighter;
  background-color: $color-base-white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -12px;
}

.range__left {
  left: 20%;
}

.range__right {
  left: 40%;
}

.range__select {
  position: absolute;
  height: 4px;
  width: 20%;
  top: -1px;
  left: 20%;
  background-color: $color-primary-lighter;
}

.range {
  width: 100%;
  height: 2px;
  background-color: $color-light-grey;
  position: relative;
}

.range__text {
  width: 118px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid $color-primary-lighter;
  background-color: $color-base-white;
  text-align: center;
  font-size: 16px;
}

.range__text-defis {
  width: 8px;
  height: 2px;
  background-color: $color-light-grey;
}

.range__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__drink {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-base-white;
  border-radius: 4px;
}

.drink__img {
  grid-column: 1 / span 2;
  justify-self: center;
  width: 130px;
}

.drink__title {
  grid-column: 1 / span 2;
  font-size: 18px;
  font-weight: 700;
  color: $color-base-black;
}

.drink__def {
  grid-column: 1 / span 2;
  font-size: 14px;
  color: $color-base-black;
  margin: 0;
  padding: 0;
}

.drink__price {
  font-size: 20px;
  font-weight: 600;
  color: $color-base-black;
  align-self: center;
}

.drink__button {
  color: $color-base-white;
  background-color: $color-base-primary;
  border-radius: 4px;
  height: 36px;
  width: 140px;
  border: none;
  justify-self: flex-end;
}

.catalog__pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__button {
  padding: 15px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: $color-base-white;
  color: $color-base-primary;
  align-items: center;
  display: flex;
  font-size: 16px;
}

.pagination__button-select {
  background-color: transparent;
  color: $color-base-black;
  font-weight: 700;
}

.catalog__checkbox {
  display: flex;
  position: relative;
  height: 24px;
  width: 42px;
  border-radius: 12px;
  background-color: $color-base-grey;
  align-items: center;
  cursor: pointer;
}

.catalog__checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-base-white;
  transition: 0.3s all;
}

.catalog__radio {
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid $color-base-grey;
  background-color: $color-base-white;
  align-items: center;
  cursor: pointer;
}

.catalog__radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-base-white;
  transition: 0.3s all;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ .catalog__radio {
  border: 2px solid $color-base-primary;
}

input[type="radio"]:checked ~ .catalog__radio::after {
  background-color: $color-base-primary;
  transition: 0.3s all;
}

input[type="radio"]:disabled ~ .catalog__radio {
  background-color: transparent;
  border: 2px solid $color-light-grey;
}

input[type="radio"]:disabled ~ .catalog__radio ~ .catalog__radio-title {
  color: $color-base-grey;
}

input[type="checkbox"]:checked ~ .catalog__checkbox {
  background-color: $color-base-primary;
}

input[type="checkbox"]:checked ~ .catalog__checkbox::after {
  left: 20px;
  transition: 0.3s all;
}

input[type="checkbox"]:disabled ~ .catalog__checkbox {
  background-color: $color-light-grey;
}

input[type="checkbox"]:disabled ~ .catalog__checkbox ~ .catalog__checkbox-title {
  color: $color-base-grey;
}

input[type="checkbox"]:disabled ~ .catalog__checkbox::after {
  background-color: $color-bg-lightest-grey;
}

.catalog__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.catalog__checkbox-title {
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
}

.catalog__radio-title {
  font-size: 16px;
  line-height: 24px;
  color: $color-base-black;
}

.catalog__button {
  width: 137px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: $color-base-primary;
  border: none;
  color: $color-base-white;
  font-size: 16px;
}

.catalog__wrapper-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.catalog__button-white {
  background-color: $color-base-white;
  color: $color-base-primary;
}

.catalog__label-sort {
  align-self: flex-end;
}
