$color-base-white: #ffffff;
$color-base-grey: #bdbdbd;
$color-base-black: #333333;
$color-base-primary: #7859cf;
$color-base-secondary: #f0ebff;

$color-primary-opacity: rgba(120, 89, 207, 0.25);
$color-primary-lighter: #9070ec;
$color-primary-darker: #593cac;
$color-light-grey: #e2e2e2;

$color-bg-lightest-grey: #f8f8f8;
$color-bg-flat-white: #f3ebe1;
$color-bg-lavender-latte: #eae6fc;
$color-bg-espresso: #e5e6e8;

$tablet: 768px;
$desktop: 1440px;

